#box1 {
	height: 330px;
	width: 24%;
	/* background-color: #39acd6; */
	margin-left: 27rem;
	margin-top: 2rem;
    display:block;
	border: 8px solid #57595d;
}
#box2 {
	height: 330px;
	width: 24%;
	/* background-color: #39acd6; */
	margin-left: 27rem;
    display:none;
    margin-top: 2rem;
	border: 8px solid #57595d;
}
.log1 {
	margin-left: 117px;
	padding-top: 40px;
}
.reg{
    margin-left: 102px;
	padding-top: 40px;  
}
#logName1 {
	margin-left: 45px;
	padding: 10px;
	width: 166px;
	margin-top: 24px;
}
#logPassword1{
    margin-left: 45px;
	padding: 10px;
	width: 166px;
	margin-top: 24px;
}
#logName2 {
	margin-left: 45px;
	padding: 10px;
	width: 166px;
	margin-top: 9px;
}
#logPassword2{
    margin-left: 45px;
	padding: 10px;
	width: 166px;
	margin-top: 24px;
}
#confirm_password{
    margin-left: 45px;
	padding: 10px;
	width: 166px;
	margin-top: 24px;
}
.submit {
	margin-left: 182px;
	margin-top: 41px;
}

.regi{
    margin-left: 182px;
	margin-top: 15px;
}
.main{
margin-left:27rem;
}


.logbut1{
        margin-left: 3rem;
        padding: 5px;
        width: 86px;
        cursor:pointer;
    }
    .logbut{
        margin-left: 1rem;
        padding: 5px;
        width: 86px;
        cursor:pointer;
    }
